.CompetancyListItem {
  flex-direction: column !important;
  flex-wrap: nowrap !important;
  align-items: stretch !important;
}
.SubCompetancyList,
.CompetancyBundleLabel {
  flex: 0 0 100%;
}

.red {
  color: red !important;
  background-color: red !important;
}

.pbHide {
  display: none;
}
.pbshow {
  display: block;
}

.displaydate {
    margin: 0 !important;
}
.displaycomp {
    margin: 10px 0px !important;
}

.NewAssessment  {
  display: span !important;
}

.score-dot {
  display: inline-block;
  border-radius: 30px;
  border: 1px solid rgba(55, 121, 80, 0.5);
  background: rgba(0, 0, 0, 0.7);
  padding-top: 10px;
  height: 30px;
  width: 40px;
  color: #fff;
  font-weight: 800;
  text-align: center;
  top: -26px;
  position: relative;
}