.CompetancyListItem{
    // display: blo;
    flex-direction: column !important;
    flex-wrap: nowrap !important;
    align-items: stretch !important;
   
}
.SubCompetancyList, .CompetancyBundleLabel{
    flex: 0 0 100%;
}