.CompetancyListItem {
  flex-direction: column !important;
  flex-wrap: nowrap !important;
  align-items: stretch !important;
}
.SubCompetancyList,
.CompetancyBundleLabel {
  flex: 0 0 100%;
}

.red {
  color: red !important;
  background-color: red !important;
}

.pbHide {
  display: none;
}
.pbshow {
  display: block;
}
