
.fieldbox{
    margin:0 auto;
   width: 760px; 
}
.fieldwrapper{
    margin-bottom: 10px;
}

.disabled {
    border: 1px solid #999999 !important;
    background-color: #cccccc !important;
    color: #666666 !important;
}
