
.loginpage{
    margin:0 auto;
   width: 760px; 
}
.fieldwrapper{
    margin-bottom: 10px;
}
.registrationlinks {
    text-align: center;
    nav {
        display: flex;
        width: 100%;
        justify-content: space-around;
        & > p > a {
          color: #9c27b0;
          text-decoration: none;
          font-family: "Roboto","Helvetica","Arial",sans-serif;
          font-weight: 600;
          &:hover {
            color: #4f27b0;
            text-decoration: underline;
          }
        }
    }
}

.radiowrapper {
    padding: 20px 10px;
}

.errorDiv {
    color: #f00;
}